
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
// -----------------------FONTS--------------------------

@import "_zeroing";

// -----------------------IMPORTS--------------------------


body {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   line-height: 1.5;
   color: #333;

   padding: 30px;
   div {
      margin: 0 auto 30px;
      width: 50%;
   }
   .block1 {
      font-family: 'PT Sans', sans-serif;
      font-style: italic;
      font-weight: 700;
   }
   .block2 {
      font-family: 'Noto Sans', sans-serif;
   }
}

