/*Zeroing/Reset*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	height: auto;
	padding: 30px 30px 300px 30px;
}

.block p{
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;

}

.link{
	color: blue;
}

.link:visited{
	color: green;
}

.link:hover{
	text-decoration: underline;
	color: red;
}

.link:active{
	color: yellow;
}



.textinput{
	border: 1px solid #666;
	height: 50px;
	padding: 0 15px;
	font-size: 18px;
	width: 300px;
	margin-bottom: 15px;
}

.textinput:focus{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.textbutton{
	display: block;
	width: 300px;
	height: 50px;
	background-color: #666;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.textbutton:hover{
	background-color: #333;
	color: yellow;
}

.textbutton:active{
	background-color: #222;
}

.list{
	margin-bottom: 50px;
}

.list li{
	font-size: 18px;
	margin-bottom: 15px;
}

.list li:first-child{
	color: purple;
	font-weight: bold;
}

.list li:nth-child(3){
	color: rgb(171, 77, 0);
	text-shadow: 1px 1px 1px #000;
}

.list li:last-child{
	color: green;
	font-style: italic;
}

.list2 li{
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: bold;
}

.list2 li:nth-child(even){
	color: yellow;
}

.list2 li:nth-child(odd){
	color: blue;
}

.divider{
	border: 1px solid #000;
}

.text{
	font-size: 18px;
	line-height: 24px;
	margin: 30px 0;
}

.text:first-line{
	text-decoration: underline;
}

.text:first-letter{
	font-size: 40px;
	font-weight: bold;
	color: red;
	text-shadow: 1px solid #000;
}

.list3 li{
	font-size: 18px;
	margin-bottom: 20px;
}

.list3 li::before{
	content: '';
	background-color: red;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px 2px 0;
}

.list3 li:hover::before{
	background-color: blue;
	text-decoration: underline;
}

.list3 li:hover{
	color: blue;
	text-decoration: underline;
}